#Dock
    position: absolute
    left: 0
    top: 50%
    transform: translate(0, -50%)
    // background-color: rgb(0, 0, 0)

.apps
    position: relative

.app
    transition: all 0.3s
    margin: 0 10px
img
    height: 100%
